.Introduction {
    background-color: #BEFFAF;
}

.Sub-Heading-Greeting {
    display: inline-block;
    color: #111421;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    margin-right: 0px; /* Add some spacing between the headings */
}

.Software-Title {
    margin: 0;
    margin-top: 10px;
    color: #111421;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130px;
    font-weight: 550;
    margin-bottom: 0px;
    margin-right: 10px; /* Add some spacing between the headings */
}

.Engineer-Title {
    margin-top: 0px;
    margin-bottom: 80px;
    color: #111421;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 100px;
    font-style: italic;
    margin-right: 10px; /* Add some spacing between the headings */
}

.Contact-Button {
    background-color: #111421;
    color: white;
    margin-top: 0px;
    height: 50px;
    width: 150px;
    font-size: larger;
    font-weight: 700;
    border: none;
    border-radius: 12px;
}