@keyframes slideIn {
  to {
        opacity: 1;
        transform: translateX(0);
  }
}

@keyframes profileIn {
  to {
        opacity: 1;
        transform: translatey(0);
  }
}

@keyframes Profile-Picture-Frame {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #111421;
}

.Header-Buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
}

.navTabs {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  padding: 3vw;
  list-style-type: none;
  background-color: #111421;
  border: 1px solid #464646;
  border-radius: 35px;
  padding: 12px;
  position: sticky;
  top: 0;
}

.navTabs li {
  text-align: center;
  margin: -4px 20px;
}

.navTabs li a {
  display: inline-block;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px 16px;
  width: fit-content;
  text-decoration: none;
}

.navTabs li a:hover {
  background-color: #BEFFAF;
  color:  #111421;
  border-radius: 35px;
  margin: 0;
}

.navTabs li a.active {
  background-color: #04aa83;
  color: #17344d;
  border-radius: 35px;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

#menu-toggle {
  display: none;
}

.Hire-Button {
  background-color: #BEFFAF;
  height: 4.5vw;
  width: 11vw;
  margin: 0;
  padding: 0vw;
  font-size: 1.3vw;
  font-weight: lighter;
  font-weight: bold;
  border: none;
  border-radius: 1vw;
}

.Hire-Button .Value {
  display: inline-block;
  color: #111421;
  vertical-align: middle;
  margin-bottom: 0.3vw;
  margin-right: 0.1vw;
}

.Hire-Button .Arrow {
  display: inline-block;
  color: #111421;
  font-size: 3vw;
  font-weight: 90vw;
  text-align: justify;
  vertical-align: middle;
  margin-bottom: 1vw;
}

.Hire-Button:hover {
  background-color: white;
}

.Hire-Button:hover .Value {
  color: #111421;
}

header {
  padding-top: 15px;
}

.Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding-top: 20px;
}

.Home {
  background-color: #BEFFAF;
  border-radius: 4vw;
  margin: 0vw;
  padding: 0vw;
  height: auto;
  width: 99%;
  justify-content: center;
  align-items: center;
}

.Greeting {
    display: flex;
    margin-left: 7vw;
    margin-top: 10vw;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
    animation-delay: 0.5s;
}

.Hi {
    display: inline-block;
    color: #111421;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: normal;
    text-align: left;
    margin: 0vw;
    margin-right: 0.6vw;
}

.Hand-Image {
    display: inline-block;
    height: 1.8vw;
    width: 1.5vw;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
    animation-delay: 0.5s;
    margin-right: 0.7vw;
}

.Name {
    display: inline-block;
    color: #111421;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: normal;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
    animation-delay: 0.5s;
    margin: 0px;
    margin-right: 0px;
    margin-left: 0vw;
}

.Introduction {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 7vw;
}

.Professional {
    display: flex;
    flex-direction: column;
    margin: 0vw;
    margin-left: 0vw;
    margin-bottom: 0vw;
    padding: 0vw;
    overflow: hidden;
    align-self: flex-start;
}

.Software-Title {
    display: flex;
    color: #111421;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0vw;
    margin-top: 1vw;
    font-size: 7vw;
    font-weight: bolder;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
    animation-delay: 0.5s;
    margin-bottom: 0vw;
    margin-right: 1vw;
    line-height: 1;
}

.Engineer-Title {
    display: flow-root;
    margin-top: 0vw;
    margin-bottom: 5vw;
    color: #111421;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 6vw;
    font-style: italic;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
    animation-delay: 0.5s;
    margin-right: 1vw;
    line-height: 1;
}

.Contact {
  display: inline-flex;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1s forwards;
  animation-delay: 0.5s;
}

.Customer-Review{
  padding-left: 5vw;
}

.Customer-Review img{
  height: 1.5vw;
  padding-bottom: 0vw;
}

.Customer-Review .Customer-Count{
  margin-top: 0.3vw;
  padding-top: 0vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.8vw;
  font-weight: lighter;
}

.Contact-Button {
    background-color: #111421;
    margin-top: 0.3vw;
    height: 3.5vw;
    width: 13vw;
    font-size: 1.2vw;
    font-weight: bold;
    border: none;
    border-radius: 1vw;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
    animation-delay: 0.5s;
}

.Contact-Button .Value {
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin-bottom: 1.3vw;
    margin-right: 0.2vw;
}

.Contact-Button .Arrow {
    display: inline-block;
    color: #BEFFAF;
    font-size: 2vw;
    font-weight: 90vw;
    text-align: justify;
    vertical-align: middle;
    margin-bottom: 2vw;
}

.Contact-Button:hover {
    background-color: white;
}

.Contact-Button:hover .Value {
    color: #111421;
}

.Profile-Picture {
    display: flex;
    position: relative;
    padding: 0vw;
    height: 34vw;
    width: auto;
    margin-top: 0vw;
    object-fit: contain;
    top: 0vw;
    margin: 0vw;
    padding: 0vw;
}

.Lower-Circle {
  position: relative;
  z-index: 1;
  left: 3vw;
  top: -9.5vw;
  object-fit: contain;
}

.Lower-Circle .img {
  height: 40vw;
  width: 40vw;
  animation: Profile-Picture-Frame 15s linear infinite;
}

.Upper-Circle {
  position: absolute;
  z-index: 3;
  left: 5vw;
  top: -7.5vw;
}

.Upper-Circle .img {
  height: 36vw;
  width: 36vw;
  animation: Profile-Picture-Frame 15s linear infinite reverse;
}

.Profile {
  display: flex;
  position: absolute;
  z-index: 5;
  height: 43vw;
  width: auto;
  left: 5vw;
  top: -12vw;
  margin-bottom: 0vw;
  padding: 0vw;
  object-fit: contain;
}

.Profile .img {
  object-fit: contain;
  height: 46vw;
  margin-bottom: 0vw;
  margin: ovw;
  opacity: 0;
  transform: translateY(10%);
  animation: profileIn 1s forwards;
  animation-delay: 0.5s;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: relative;
    z-index: 1100;
  }

  .hamburger img {
    height: 50px;
    margin: 8px;
    justify-content: right;
  }

  .navTabs {
    flex-direction: column;
    position: absolute;         
    top: 60px;   
    left: 0;            
    width: 100%;              
    height: 60vh;            
    background: #111421;
    border: none;             
    border-radius: 0;    
    max-height: 0;      
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    opacity: 0;
    transform: translateY(-8px);
    pointer-events: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle:checked + .hamburger + .Header-Buttons .navTabs {
    max-height: 60vh;         
    opacity: 1;                 
    transform: translateY(0);   
    pointer-events: auto;       
  }

  .navTabs li {
    text-align: center;
    margin: 8px 0;
  }

  .navTabs li a {
    display: inline-block;
    padding: 8px 16px;
    font-size: 20px;
  }

  .desktop-only {
    display: none;
  }

  .Contact-Link {
    position: relative;
    color: transparent !important;
    display: block;             
    width: 80%;                  
    max-width: 300px;            
    text-align: center;
    margin: 10px auto;           
    padding: 12px 20px;
    background-color: #BEFFAF;
    border-radius: 12px;
    font-weight: bold;
  }

  .Contact-Link::before {
    content: "Hire Me ↗";
    position: absolute;
    top: 1.6vw;
    left: 0vw;
    right: 0;
    color: #111421;
    font-weight: bold;
    text-align: center;
  }

  header {
    padding-top: 0;
  }

  main {
    padding-top: 73px;
  }

  .Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .Home {
    background-color: #BEFFAF;
    border-radius: 4vw;
    margin: 0vw;
    padding: 0vw;
    height: auto;
    width: 99%;
    justify-content: center;
    align-items: center;
  }

  .Greeting {
      display: flex;
      margin-left: 12vw;
      margin-top: 10vw;
      opacity: 0;
      transform: translateX(-100%);
      animation: slideIn 1s forwards;
      animation-delay: 0.5s;
  }

  .Hi {
      display: inline-block;
      color: #111421;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 4vw;
      font-weight: normal;
      text-align: left;
      margin: 0vw;
      margin-right: 1.5vw;
  }

  .Hand-Image {
      display: inline-block;
      height: 4vw;
      width: 3.5vw;
      opacity: 0;
      transform: translateX(-100%);
      animation: slideIn 1s forwards;
      animation-delay: 0.5s;
      margin-right: 1.8vw;
  }

  .Name {
      display: inline-block;
      color: #111421;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 4vw;
      font-weight: normal;
      opacity: 0;
      transform: translateX(-100%);
      animation: slideIn 1s forwards;
      animation-delay: 0.5s;
      margin: 0px;
      margin-right: 0px;
      margin-left: 0vw;
  }

  .Introduction {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      margin-left: 4vw;
  }

  .Professional {
      display: flex;
      flex-direction: column;
      margin: 0vw;
      margin-left: 7vw;
      margin-bottom: 0vw;
      padding: 0vw;
      overflow: hidden;
      align-self: flex-start;
      justify-content: center;
  }

  .Software-Title {
      display: flex;
      color: #111421;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0vw;
      margin-top: 1vw;
      font-size: 13vw;
      font-weight: bolder;
      opacity: 0;
      transform: translateX(-100%);
      animation: slideIn 1s forwards;
      animation-delay: 0.5s;
      margin-bottom: 0vw;
      margin-right: 1vw;
      line-height: 1;
  }

  .Engineer-Title {
      display: flow-root;
      margin-top: 0vw;
      margin-bottom: 7vw;
      color: #111421;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 12vw;
      font-style: italic;
      opacity: 0;
      transform: translateX(-100%);
      animation: slideIn 1s forwards;
      animation-delay: 0.5s;
      margin-right: 1vw;
      line-height: 1;
  }

  .Contact {
    display: inline-flex;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
    animation-delay: 0.5s;
  }

  .Customer-Review{
    padding-left: 7vw;
  }

  .Customer-Review img{
    height: 3vw;
    padding-bottom: 0vw;
  }

  .Customer-Review .Customer-Count{
    margin-top: 0.1vw;
    padding-top: 0vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vw;
    font-weight: lighter;
  }

  .Contact-Button {
      background-color: #111421;
      margin-top: 1vw;
      padding-bottom: 2.2vw;
      height: 6vw;
      width: 22vw;
      font-size: 2.3vw;
      font-weight: bold;
      border: none;
      border-radius: 2vw;
  }

  .Contact-Button .Value {
      display: inline-block;
      color: white;
      vertical-align: middle;
      margin-bottom: 2.4vw;
      margin-right: 0.2vw;
  }

  .Contact-Button .Arrow {
      display: inline-block;
      color: #BEFFAF;
      font-size: 4vw;
      font-weight: 90vw;
      text-align: justify;
      vertical-align: middle;
      margin-bottom: 3vw;
  }

  .Contact-Button:hover {
      background-color: white;
  }

  .Contact-Button:hover .Value {
      color: #111421;
  }

  .Profile-Picture {
      display: flex;
      position: relative;
      padding: 0vw;
      height: 88vw;
      width: 85vw;
      margin-top: 0vw;
      object-fit: contain;
      top: 0vw;
      margin: 0vw;
      padding: 0vw;
  }

  .Lower-Circle {
    position: relative;
    z-index: 1;
    left: 15.5vw;
    top: 3.5vw;
    object-fit: contain;
  }

  .Lower-Circle .img {
    height: 53vw;
    width: 53vw;
    animation: Profile-Picture-Frame 15s linear infinite;
  }

  .Upper-Circle {
    position: absolute;
    z-index: 3;
    left: 18.5vw;
    top: 6.5vw;
  }

  .Upper-Circle .img {
    height: 47vw;
    width: 47vw;
    animation: Profile-Picture-Frame 15s linear infinite reverse;
  }

  .Profile {
    display: flex;
    position: absolute;
    z-index: 5;
    height: 88vw;
    width: auto;
    left: 7vw;
    top: 0vw;
    margin-bottom: 0vw;
    padding: 0vw;
    object-fit: contain;
  }

  .Profile .img {
    object-fit: contain;
    height: 88vw;
    margin-bottom: 0vw;
    margin: ovw;
    opacity: 0;
    transform: translateY(10%);
    animation: profileIn 1s forwards;
    animation-delay: 0.5s;
  }
}